:root {
  --margin-width: minmax(96px, 1fr);
  --content-width: 708px;
  --cover-image-fit: cover;
  --cover-image-height: 30vh;
  --font-size: 16px;
}

@media only screen {
  body {
    margin: 0;
    max-width: 100%;
  }
}

body {
  white-space: initial;
  background-color: rgb(25, 25, 25);
  color: rgba(255, 255, 255, 0.81);
  font-size: var(--font-size);
}


header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header>.page-title {
  display: block;
  width: var(--content-width);
  min-width: var(--content-width);
  margin: 0;
  margin-top: 1.5rem;
}

.page-cover-image {
  object-fit: var(--cover-image-fit);
  min-width: 100%;
  max-height: var(--cover-image-height);
  min-height: 120px;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-body {
  width: var(--content-width);
}

@media (max-width: 600px) {
  :root {
    --content-width: calc(100vw - 1rem);
    --font-size: 12px;
    /* --cover-image-height: 50vh; */
    /* --cover-image-fit: contain; */
  }

  .page-title {
    font-size: 2rem;
  }

  h3 {
    font-size: 0.9rem;
  }

}