@charset "utf-8";

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f9f7f7;
  display: flex;
  flex-direction: column;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li,
ol {
  list-style: none;
}

.ad li {
  display: flex;
  flex-direction: column;
}

.ad li.last {
  flex-direction: row;
}

.ad img {
  float: left;
  width: 100%;
  height: auto;
  border: 0;
}

.ad li.last>img {
  width: 80.4%;
}


.pointer {
  cursor: pointer;
}

body.no-scroll {
  overflow: hidden;
}

.spacer {
  flex: 1;
}

/* landscape 일때 .ad width를 50%로 조절 */
@media (orientation: landscape) {
  ul.ad {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    width: 50%;
  }
}