@charset "utf-8";

:root {
  --bg-color: #f9f7f7;
  --footer-height: 80px;
  --footer-gap: 10px;
}

@layer reset, base, libs, overrides, utils;

@layer reset {}

@layer base {

  html,
  body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
  }

  div {
    box-sizing: border-box;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  li,
  ol {
    list-style: none;
  }

  footer {
    position: relative;
  }
}

@layer libs {}

@layer overrides {
  #chat-widget-container {
    /* position: absolute !important; */
    /* bottom: 100px !important; */
  }
}

@layer utils {
  .ad li {
    display: flex;
    flex-direction: column;
  }

  .ad li.last {
    flex-direction: row;
  }

  .ad img {
    float: left;
    width: 100%;
    height: auto;
    border: 0;
  }

  .ad li.last>img {
    width: 80.4%;
  }


  .pointer {
    cursor: pointer;
  }

  body.no-scroll {
    overflow: hidden;
  }

  .spacer {
    flex: 1;
  }
}

/* sweetalert2 */
.qr-popup {
  width: fit-content;
  height: fit-content;
}

.qr-img {
  margin-top: 24;
  margin-bottom: 0;
}

.swal2-html-container.qr-content {
  margin: 0;
}

.qr-id {
  font-weight: 700;
  font-size: 1.5rem;
}


/* landscape 일때 .ad width를 50%로 조절 */
@media (orientation: landscape) {
  ul.ad {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    width: 50%;
    align-self: center;
  }
}

/* width가 600px 미만일 때 처리 */
@media (max-width: 600px) {
  footer {
    box-sizing: border-box;
    width: 100%;
  }

  .footer-title {
    height: 24px;
  }
}